<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
        <array>
            <string>012D</string>
        </array>
        <key>NSAccessorySetupBluetoothServices</key>
        <array>
            <string>8000DD00-DD00-FFFF-FFFF-FFFFFFFFFFFF</string>
            <string>8000CC00-CC00-FFFF-FFFF-FFFFFFFFFFFF</string>
            <string>8000FF00-FF00-FFFF-FFFF-FFFFFFFFFFFF</string>
        </array>
        <key>NSAccessorySetupKitSupports</key>
        <array>
            <string>Bluetooth</string>
        </array>
        <key>NSAccessorySetupSupports</key>
        <array>
            <string>Bluetooth</string>
        </array>
        <key>SentryDSN</key>
        <string>$(SENTRY_DSN)</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>location</string>
            <string>bluetooth-central</string>
        </array>
    </dict>
</plist>
